body,
html {
    height: 100vh;
    width: 100vw;
    --fs: calc(1em + 1vw);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow: hidden;
    font-family: "Roboto Condensed", sans-serif;
    color: whitesmoke;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        "header header"
        "picture section"
        "footer footer";
}

#bVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

header {
    grid-area: header;
    text-align: center;
    font-size: calc(var(--fs) * 1);
}

#lang {
    position: absolute;
    display: block;
    left: calc(var(--fs) * 0.6);
    font-size: calc(var(--fs) * 0.6);
    background-color: black;
    cursor: pointer;
}

picture {
    grid-area: picture;
    position: relative;
    text-align: right;
}

#myPicture {
    border-radius: 50%;
    width: 8em;
    margin: 2em 1em 2em auto;
}

section {
    grid-area: section;
    position: relative;
    text-align: left;
    line-height: 1.2em;
    top: 4em;
}

.emph {
    color: peru;
    text-decoration: underline;
    font-style: italic;
    letter-spacing: 0.1em;
}

footer {
    grid-area: footer;
    align-self: center;
    justify-self: center;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    cursor: auto;
}

a {
    display: inline-block;
    cursor: initial;
}

a img {
    opacity: 0.6;
    cursor: none;
    width: calc(var(--fs) * 3);
    padding: 0 calc(var(--fs) * 0.5);
}

.hide {
    display: none;
}

.active {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 1;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    #myPicture {
        width: calc(var(--fs) * 10);
    }
    section {
        font-size: calc(var(--fs) * 1.1);
        top: var(--fs);
    }
}

@media only screen and (max-width: 599px), (orientation: "portrait") {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr;
        grid-template-areas:
            "header"
            "picture"
            "section"
            "footer";
        align-items: center;
        justify-content: center;
    }

    header {
        text-align: center;
        font-size: var(--fs);
    }

    picture {
        text-align: center;
    }

    #myPicture {
        margin: 0;
        width: calc(var(--fs) * 10);
    }

    section {
        text-align: center;
        font-size: var(--fs);
        line-height: calc(var(--fs) * 1.5);
        top: 0;
    }
}
